.video_container{
    background-color: white;
    min-height: 50vh;
}

.track_container{
    display: flex;
    background-color: rgb(224, 200, 191);
    min-height : 40vh;
}

.navbar#room-control{
    background-color: rgb(224, 200, 191);
    height : 40px;
}

.navbar#concert-control{
    background-color: rgb(192, 168, 159);
    height : 40px;
}


